asttokens==3.0.1
attrs==25.4.0
babel==2.18.0
bidict==0.23.1
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.4
click==8.1.8
cmudict==1.1.3
contourpy==1.3.0
courlan==1.3.2
csvw==3.7.0
cycler==0.12.1
dateparser==1.2.2
decorator==5.2.1
dill==0.4.1
dlinfo==2.0.0
editdistance==0.8.1
exceptiongroup==1.3.1
executing==2.2.1
Flask==3.1.3
Flask-SocketIO==5.6.1
fonttools==4.60.2
ftfy==6.3.1
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.2.5
gruut-ipa==0.13.0
h11==0.16.0
hashstash==0.2.13
htmldate==1.9.4
humanfriendly==10.0
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipython==8.18.1
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jusText==3.0.2
kiwisolver==1.4.7
langdetect==1.0.9
language-tags==1.2.0
Levenshtein==0.27.1
logmap==0.0.3
loguru==0.7.3
lxml==6.0.2
lxml_html_clean==0.4.3
MarkupSafe==3.0.3
matplotlib==3.9.4
matplotlib-inline==0.2.1
mizani==0.11.4
multiprocess==0.70.19
multiset==3.2.0
munkres==1.1.4
networkx==3.2.1
nltk==3.9.2
numpy==2.0.2
ordered-set==4.1.0
orjson==3.11.5
packaging==26.0
pandas==2.3.3
parso==0.8.6
patsy==1.0.2
pexpect==4.9.0
phonemizer==3.3.0
pillow==11.3.0
plotnine==0.13.6
poesy @ git+https://github.com/quadrismegistus/poesy@24466452f0e609d167e2081cbff051cc81b0aaf9
prompt_toolkit==3.0.52
pronouncing==0.2.0
prosodic==2.1.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-engineio==4.13.1
python-Levenshtein==0.27.1
python-socketio==5.16.1
pytz==2025.2
PyYAML==6.0.3
RapidFuzz==3.13.0
rdflib==7.6.0
referencing==0.36.2
regex==2026.1.15
requests==2.32.5
rfc3986==1.5.0
rpds-py==0.27.1
scipy==1.13.1
segments==2.3.0
simple-websocket==1.1.0
six==1.17.0
stack-data==0.6.3
statsmodels==0.14.6
svgling==0.5.0
svgwrite==1.4.3
tabulate==0.9.0
termcolor==3.1.0
tld==0.13.1
tqdm==4.67.3
trafilatura==2.0.0
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
unicodecsv==0.14.1
uritemplate==4.2.0
urllib3==1.26.20
wcwidth==0.6.0
Werkzeug==3.1.6
wsproto==1.2.0
zipp==3.23.0
zope.event==6.0
zope.interface==8.0.1
